html, body {
  height: 100%;
}

body { 
  background-image: url("/photos/luneflou.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-nav {
  width: 100%;
  position: fixed;
  background-color: black;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  top: 0;
  padding: 0.8em;
}

.header-nav a {
  margin: 0 15px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: bisque;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: brown;
}

/* CENTRAGE IMAGE ET VIDÉO */
.selenia-logo {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  margin-top: 100px; /* Ajuste la marge en haut */
}

.selenia-logo img {
  max-width: 50%; /* L’image ne dépassera pas 50% de la largeur du conteneur */
  height: auto; /* Garde les proportions */
  margin-bottom: 20px; /* Espace entre l'image et la vidéo */
}

/* Pour l'iframe (vidéo YouTube) */
.selenia-logo iframe {
  width: 100%; /* La vidéo prendra toute la largeur disponible */
  max-width: 560px; /* Elle ne dépassera pas cette largeur */
  border: none;
  margin-top: 20px; /* Espace entre l'image et la vidéo */
}

/* Code page sur l'équipe */
.topo_equipe {
  max-width: 950px;
  margin: 100px auto;
  padding: 30px;
}

.topo_equipe h2 {
  margin-bottom: 10px;
  font-size: 35px;
}

.topo_equipe p {
  line-height: 1.4;
  font-size: 20px;
}

.topo_equipe img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 50px 5px 0;
  box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.5);
}

/* Code page sur le jeu */
.topo_jeu {
  max-width: 950px;
  margin: 100px auto;
  padding: 30px;
}

.topo_jeu h2 {
  margin-bottom: 10px;
  font-size: 35px;
}

.topo_jeu p {
  line-height: 1.4;
  font-size: 20px;
}

.topo_jeu img {
  width: 400px;
  height: 700px;
  object-fit
}
  /* Code footer */
.footer {
  margin: 50px 10px;
  text-align: center;
  font-size: 15px;
  height: 100%;
}

/* Ajustement des icônes dans le footer */
.footer img {
  width: 5%; /* Réduire la taille des icônes à 5% de la largeur du conteneur */
  padding-left: 20px;
  transition: transform 0.3s ease; /* Ajout d'une transition pour un effet interactif */
}

.footer img:hover {
  transform: scale(1.1); /* L'icône grandit légèrement au survol pour un effet visuel */
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .footer img {
    width: 8%; /* Sur les petits écrans (mobiles), augmente un peu la taille des icônes */
  }
}
